#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.foo {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
